.fa {
  color: white;
}

.body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.my-profile {
  display: flex;
}

.my-name {
  color: white;
}

.my-title {
  color: white;
}

.my-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(256, 256, 256, .9);
}