body {
  font-size: 16px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 410px;
  display: flex;
  justify-content: space-between;
}

.profile-container-left {
  display: flex;
  flex-direction: column;
}

.fa {
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.my-name {
  font-family: 'Titillium Web', sans-serif;
  font-size: 140%;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.my-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 90%;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.my-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(256, 256, 256, 1);
}

.link-icon-container {
  margin-top: 8px;
}

.link-icon {
  display: inline-block;
  margin-right: 1px;
}

@media (min-width: 410px) {
  .my-name {
    font-size: 250%;
  }

  .my-title {
    font-size: 120%;
  }

  .my-avatar {
    width: 150px;
    height: 150px;
  }

  .link-icon-container {
    margin-top: 13px;
  }

  .link-icon {
    margin-right: 3px;
  }
}
